@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #F0B100;
  --color-secondary: #83838f;
}


  *{ 
    font-family: "Inter", sans-serif;
}

.heading-text{
     font-family: "Montserrat", sans-serif;
     font-weight: bold;
}

.navbar .active {
  color: #ffffff;
  font-weight: bold;
  /* border: 1px solid #CAC8C8FF; */
  border-radius: 20px;
  background: #F0B100;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: #ef9744 !important; /* red color for active dot */
  opacity: 1;
}


@layer utilities {
  @keyframes zoomBg {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
  }
  .animate-zoomBg {
    animation: zoomBg 4s ease-in-out infinite alternate;
  }
}


/* button hover */
.btn-hover::before {
    content: '';
    position: absolute;
    top: 50%;          
    left: 50%;        
    width: 0;
    height: 0;     
    
   
    background: white; 
    border-radius: 9999px; 
    

    transition: width 0.5s ease-out, height 0.9s ease-out;
    transform: translate(-50%, -50%); 
    z-index: -1;      
}


.btn-hover:hover::before {
    width: 300%;  
    height: 300%;
}